@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    color: #C44D58;
    background-color: #F5DEB3;
}

.slides img {
    object-fit: cover;
}

.slideshow-container {
    position: relative;
}

.slides {
    display: none; 
}

.slide-img {
    height: 100%;         
    width: 100%;          
    object-fit: cover;  
}

.dot-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

.section {
    background-color: black;
}

.review-title {
    height: 100px;
    background-color: white;
}

.review-container {
    height: 730px;
    background-color: white;
}

.review-box {
    background-color: #E5E7EB; 
    width: 75%; 
    height: 75%; 
    border-radius: 1.25rem; 
    padding: 1.25rem; 
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
}

.review-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 0.5rem; 
}

.mobile-menu {
    display: none; 
}

.mobile-menu.active {
    display: block; 
}

@media (max-width: 768px) {
    .w-full {
        width: 100%;  
    }
    .h-100px {
        height: 10vh; 
    }
    .h-730px {
        height: auto; 
    }
    .bg-black {
        padding: 10px; 
    }
    .bg-gray-200 {
        padding: 5px; 
    }
    .section {
        height: auto; 
    }
    .review-title {
        height: 10vh; 
    }
    .review-container {
        height: auto; 
        flex-direction: column; 
    }
    .review-box {
        width: 90%; 
        margin: 0 auto; 
        height: auto; 
    }
}

@media (min-width: 769px) {
    .h-100px {
        height: 100px; 
    }
    .h-730px{
        height: 730px; 
    }
    .review-container {
        display: flex; 
    }
    .review-box {
        width: 50%; 
        height: 100%; 
    }
}
